{{!-- Flags --}}
<div class="form-group">
  <label class="header">{{localize "PF1.CheckFlags"}}</label>
  <div class="buff-flags flexcol">
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noEncumbrance" {{checked data.changeFlags.noEncumbrance}}/> {{localize "PF1.ChangeFlagDwarflikeEncumbrance"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.mediumArmorFullSpeed" {{checked data.changeFlags.mediumArmorFullSpeed}}/> {{localize "PF1.ChangeFlagMediumArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.heavyArmorFullSpeed" {{checked data.changeFlags.heavyArmorFullSpeed}}/> {{localize "PF1.ChangeFlagHeavyArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.loseDexToAC" {{checked data.changeFlags.loseDexToAC}}/> {{localize "PF1.ChangeFlagLoseDexToAC"}}
    </label>
  </div>
</div>

<div>
  {{!-- Changes --}}
  <h4 class="change-header">
    {{localize "PF1.Changes"}}
  </h4>
  <ol class="changes form-group">
    {{#each changes as |change a|}}
    <li class="change flexrow" data-change="{{change.data._id}}">
      <select class="change-operator" name="data.changes.{{a}}.operator">
        {{#select (lookup this.data "operator") }}
        <option value="add">+</option>
        <option value="set">=</option>
        <option value="script">S</option>
        {{/select}}
      </select>
      {{#unless isScript}}
      <input class="change-formula formula" type="text" name="data.changes.{{a}}.formula" value="{{lookup this.data "formula"}}"
                                                                                  placeholder="{{localize "PF1.Formula"}}"
                                                                                  required/>
      {{else}}
      <button type="button" class="edit-change-contents"><i class="fas fa-edit"></i> {{localize "PF1.Edit"}}</button>
      {{/unless}}
      <select class="change-target" name="data.changes.{{a}}.target" required>
        {{#select (lookup this.data "target") }}
        <option value=""></option>
        {{#each ../changeGlobals.targets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select class="change-sub-target" name="data.changes.{{a}}.subTarget">
        {{#select (lookup this.data "subTarget") }}
        {{#if (lookup this.data "target") }}
        {{#each (lookup this "subTargets") as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{else}}
        <option value=""></option>
        {{/if}}
        {{/select}}
      </select>
      <select class="change-modifier" name="data.changes.{{a}}.modifier">
        {{#select (lookup this.data "modifier") }}
        {{#each ../changeGlobals.modifiers as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <input class="change-priority" type="text" data-dtype="Number" name="data.changes.{{a}}.priority" value="{{lookup this.data "priority"}}"
                                                                                    placeholder="{{localize "PF1.Priority"}}" title="{{localize "PF1.Priority"}}" />
      <a class="change-control delete-change"><i class="fas fa-trash"></i></a>
    </li>
    {{/each}}
    <li class="change flexrow"><a class="change-control add-change"><i class="fas fa-plus"></i> {{localize "PF1.AddChange"}}</a></li>
  </ol>
</div>
